*{
    margin: 0px;
    padding:0px;
}
body{
    background-color:hsl(240,100%,90%);
}
header{
    
    background-color:hsl(240,100%,90%);
    height:70px;
}
nav{ 
    margin: 10px;
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    
}
ul{
    padding: 0px 100px;
}
li{
    list-style-type:none;
}
section{
    width:400px;
    height:200px;
    position: absolute;
    right: 30px;
}       
p{
    font:italic 14pt san-serif
}

img{
    background: transparent;
    margin: 10px;
    width:400px;
    height: 300px;
    position: absolute;
    right: 450px;
}
footer{
    position: absolute;
    bottom:10px;
    left: 40%;
}